<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sapidigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".mutu"></activity>
        <activity android:name=".edit_company" />
        <activity android:name=".Company" />
        <activity android:name=".edit_profile" />
        <activity android:name=".penyembelih.AddPenyembelihanActivity" />
        <activity android:name=".penyembelih.PenyembelihActivity" />
        <activity android:name=".pemeriksa.AddPemeriksaanActivity" />
        <activity android:name=".pemeriksa.PemeriksaanActivity" />
        <activity android:name=".lokasi.LokasiActivity" />
        <activity android:name=".lokasi.AddLokasiActivity" />
        <activity android:name=".UpdateFeedLots" />
        <activity android:name=".AddFeedlotsActivity" />
        <activity android:name=".FeedLotsAcitivity" />
        <activity android:name=".Test" />
        <activity android:name=".Profile" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>